/* I wanted a dingy gradient background */
body {
	background-image: linear-gradient(to right, #25080b, #18240c);
}

h1 {
	font-family: georgia, "times new roman", serif;
	text-align: center;
	background-color: black;
	color: #99e550;
	border: 2px solid #99e550;
	width: 400px;
	margin: auto;
}

/* I made this into a block so I could use margin: auto to centre the playing field. The margin-top here adds a little space between the heading and the image. */
#board {
	background-color: black;
	display: block;
	margin: auto;
	margin-top: 15px;
	/* Experimenting with this method from Mozilla to try to keep my pixel art crisp rather than blurry. */
	image-rendering: pixelated;
}
