body {
	background-color: #E4FAE5;
}

/* margin: auto centres the box and text-align centres the text in the box. Added some fallback fonts under the font-family archetype for compatibility. */
h1 {
	width: 780px;
	border: 6px solid DarkSeaGreen;
	margin: auto;
	text-align: center;
	background: #E4FAE5;
	font-family: Helvetica, "Times New Roman", Arial;
}



div {
	float: left;
}

#leftText {
	margin: auto;
	width: 30%;
	font-size: 130%;

}

#frogEye {
	margin: auto;
	width: 90%;


}

#rightText {
	margin: auto;
	width: 30%;
	text-align: right;
	font-size: 130%;

}


div {
	float: left;
}

