body {
	background-color: black;
}

/* margin: auto centres the box and text-align centres the text in the box. Added some fallback fonts under the font-family archetype for compatibility. */
h1 {
	width: 780px;
	border: 6px solid DarkSeaGreen;
	margin: auto;
	text-align: center;
	background: #E4FAE5;
	font-family: Helvetica, "Times New Roman", Arial;
}

/* After hours of fighting with float, margin, overflow, text-align, width etc. I learned that I can simply put my two sections of text and image inside a larger container with the "display: flex;" element to get them to be aligned in even columns centered in the screen. Great. */
#container {
	background-color: #E4FAE5;
	border: 6px solid DarkSeaGreen;
	display: flex;
	/* Setting width here to 99% to maintain scale of text box without weird bug where it creates horizontal scroll bar. */
	width: 99%;
}


.centreImage {
	/* The circle() function here makes the browser treat my image as a circle rather than a box with transparent edges. The border-radius is also necessary or the computer treats my beautiful circle as if it has an ugly, invisible box around it, digusting. */
	shape-outside: circle(50%);
	border-radius: 50%;
	margin: 15px 15px 20px 20px;
	
}

/* Apparently you can affect multiple ids at once be separating them with commas. */

#leftText,
#rightText {
	font-size: 15px;
	padding-left: 8px;
	padding-right: 8px;

}

/* It is absolutely vital to set these margins or else the text will overlap at any zoom over 120%. */

#leftText {
	text-align: right;
	margin-right: 230px;
}

#rightText {
	text-align: left;
	margin-left: 230px;
}

/* To get the text to wrap properly I have created two overlapping images of the frog eye with a column of text wrapping on either side. Both are set to circle shapes. I used the position relative to achieve the overlap while keeping the positioning relative to the flexbox. */



/* So this will make the left column of text float to the right of this copy of my frog eyeball. Nice. */
#leftColumn img {
	float: right;
}


/* And this will make the right column of text float to the left of this copy of my frog eyeball. Also nice. */
#rightColumn img {
	float: left;
}

/* We need to then bring both columns together. The left and right make the two text boxes and images overlap so its like there's only one image even though there's actually two. The margin adjustments make up for the weird white space left by relative alignments. */

/* Another note: I've added the width scaling to both columns here so that the text remains readable even at 500% scaling. */

#leftColumn {
	left: 219px;
	position: relative;
	margin-left: -224px;
	width: 100%;
}

#rightColumn {
	right: 219px;
	position: relative;
	margin-right: -224px;
	width: 100%;
}